@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans+Khojki&display=swap');

/* Colors */

.noto-sans-khojki-regular {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.martel-sans-extralight {
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.martel-sans-light {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.martel-sans-regular {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.martel-sans-bold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.martel-sans-extrabold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.martel-sans-black {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Main Styling */

body {
    background-color: #f4f4f4;
    font-family: "Martel Sans", sans-serif;
    font-weight: semi-bold;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --Primary: #8053FF;
    --Main-body: #23155B;
    --Gray-light: #817d8e;
    --White: #f4f4f4;
}

/* Styling Links */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Item 1 */

.nav_item1 {
        display: flex;
        justify-content: flex-start;
        width: 66%;
}

.nav-logo-container {
  
}

.nav_logo {
    display: inline;
    font-size: x-large;
    font-weight: bold;
}

.nav_logo img {

}

/* Navigation Item 2 */

.nav_item2 {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--Primary);
    color: var(--White);
    border-radius: 10%;
    font-family: "Noto Sans Khojki", sans-serif;
    border: none;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
}

.nav_item2 a {
    color: var(--Gray-light);
    margin: 10px;
}

/* First Section */

.choice {
    display: grid;
    background-color: red;
    height: 600px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.choice-content h1 {
    background-color: green;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.choice-content p {
    background-color: blue;
    color: var(--Gray-light);
    font-size: small;
    font-weight: bold;
    justify-self: center;
}

.choice-links {
    background-color: yellow;
    display: block;
    text-align: center;
}

.choice-links a {
    display: inline;
    width: max-content;
}