@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans+Khojki&display=swap');

/* Colors */

.noto-sans-khojki-regular {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.martel-sans-extralight {
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.martel-sans-light {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.martel-sans-regular {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.martel-sans-bold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.martel-sans-extrabold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.martel-sans-black {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Main Styling */

body {
    background-color: #f4f4f4;
    font-family: "Martel Sans", sans-serif;
    font-weight: semi-bold;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --Primary: #8053FF;
    --Main-body: #23155B;
    --Gray-light: #817d8e;
    --White: #f4f4f4;
}

/* styling text/fonts */

h2 {
    font-size: xx-large;
}

.medium-text-grey {
    color: #817d8e;
    font-weight: lighter;
}

/* Styling Links */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Navigation Item 1 */
.logo {
    display: flex;
    margin-left: 10px;
}

#item1 {
    font-weight: bolder;
    padding: 10px;
}
/* Navigation Item 2 */
.menu {
    padding: 10px;
}

.item2 {
    color: var(--Gray-light);
    margin: 10px;
}

button {
    background-color: var(--Primary);
    color: var(--White);
    border-radius: 8px;
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    box-shadow: 10px 5px;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/bg.svg);
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-links-div {
    margin: 50px;
}

.hero-links {
    border-style: solid;
    border: #8053FF;
    background-color: #8053FF;
    color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 8px;
}

.hero-links:hover {
    border-style: solid;
    border-width: thin;
    border-color: #8053FF;
    color: #8053FF;
    background-color: #f4f4f4;
}

/* Statistics Styling */

.statistics {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8e7e9;
    height: 80vh;
    text-align: center;
}

#heading-purple {
    margin-top: 20%;
    color: #8053FF;
    margin-bottom: 4%;
}

#statistics {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.stat-cards {
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 20px 30px;
    box-shadow: 10px 10px 50px grey;
    width: 40vh;
}